  
{% extends base %}

{% block title %}Bokeh Crossfilter Example{% endblock %}

{% block preamble %}
<div style="background-color:#d7e3ec;color:grey;padding:4px;">
<h3>
City-Category Explorer
</h3>
</div>
<style>
  @import url(https://fonts.googleapis.com/css?family=Noto+Sans);
  body {
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #152071;
    background: #C5DCF0;
  }
</style>
{% endblock %}